.slide-stage {position: relative;}
.bt-angle {font-size: 6em; position: absolute; top: calc(50% - 2em); cursor: pointer; color: #fff; opacity: .3; transition: all .5s;}
.bt-angle:hover {opacity: 1;}
.bt-angle.bt-prev {left: 0.5em}
.bt-angle.bt-next {right: 0.5em}